{
    "http_header": {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36",
        "Referer": "https://www.bilibili.com/",
        "Connection": "keep-alive"
    },
    "default_vote": {
        "mode": 1,
        "vote": [0, 1],
        "once": true
    },
    "users": [
        {
            "cookieDatas": {
                "SESSDATA": "xxxxx",
                "bili_jct": "xxxxx",
                "DedeUserID": "xxxxx"
            }
        }
    ],
    "push": {
        "enable": false,
        "msgtpye": ["CookieExpires", "UnknownError", "DailyMissions"],
        "wxpush": {
            "enable": false,
            "corpid": "xxxxx",
            "secret": "xxxxx",
            "agentid": 1000001,
            "touser": "@all"
        },
        "tgpush": {
            "enable": false,
            "bot_token": "xxxxx:xxxxx",
            "chat_id": "-100xxxxx"
        },
        "server": {
            "enable": false,
            "sendkey": "xxxxx"
        },
        "ijingniu": {
            "enable": false,
            "channelkey": "xxxxx"
        },
        "pushplus":{
            "enable": false,
            "token": "xxxxx"
        }
    }
}
